input{
  background-color: rgb(29, 29, 29);
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
  border-width: 1px;
  width: 300px;
  height: 30px;
  color: white;
}
.input{
  background-color: rgb(29, 29, 29);
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(56, 56, 56);
  border-width: 1px;
  width: 300px;
  height: 30px;
  color: white;
}

input:active{
  border: none;
}

.green{
  outline: none;
  border-style: solid;
  border-color: rgb(60, 226, 27);
}

.red{
  outline: none;
  border-style: solid;
  border-color: rgb(224, 22, 22);
}

.green:focus{
  outline: none;
  border-style: solid;
  border-color: rgb(60, 226, 27);
}

.red:focus{
  outline: none;
  border-style: solid;
  border-color: rgb(224, 22, 22);
}
