app-rounded-img{
  color: white;
}

.dropdown-item:hover{
  background-color: rgb(41, 41, 41);
}

.label:hover{
  background-color:  rgb(20, 20, 20);
}

app-a-item{
  cursor: pointer;
}

.dropdown-menu{
  background-color:rgb(20, 20, 20);
}

.dropdown-menu{min-width:210px;}
.dropdown-menu .dropdown-item{white-space:normal;}
