<form [formGroup]="formGroupInput" class="d-flex pt-5 align-items-center justify-content-center" style="height: 100%;" >
  <div style="margin-right: 0; margin-left: 0;" class="d-flex flex-column align-items-center container mt-5">
    <app-h6-title text="Sign In" inputClass="text-white"></app-h6-title>
    <app-input-control-form
    inputLabelText = "Email"
    inputType="text"
    [inputFormControl]="inputFormControlEmail"
    [inputFormGroup]="formGroupInput"
    [isFieldInvalid] = "!formGroupInput.controls['email'].valid && formGroupInput.controls['email'].touched"
    inputText="Please, enter a valid email address"
    (inputString)="catchStringEmail($event)"
    ></app-input-control-form>

    <app-input-control-form
    inputLabelText = "Password"
    inputType="password"
    [inputFormControl]="inputFormControlPassword"
    [inputFormGroup]="formGroupInput"
    [isFieldInvalid] = "!formGroupInput.controls['password'].valid && formGroupInput.controls['password'].touched"
    inputText="Password must contain at least 8 characters"
    (inputString)="catchStringPassword($event)"
    ></app-input-control-form>
    <app-button class="mt-2"
    text="Sign in"></app-button>
    <app-button class="mt-3"
    text="Sign in with Google"></app-button>


    <p class="mt-3 text-end" style="font-size: 13px; color: white;">Not have an account yet? <a routerLink="/sign-up" > Sign-up</a></p>
  </div>
  <div class="img-container mt-5">
    <img src="../../../../assets/Images/darkmagician.jpg" alt="">
  </div>

</form>
