button{
  border: 1px solid #100324;
  border-radius: 2px;
  background-color: #2b0864;
  font-size: 13px;
  color: rgb(218, 218, 218);
  width: 300px;
  height: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
  opacity: 0.9;

}
